//
// Breakpoints
// --------------------------

$s-mobile: 320px;
$m-mobile: 375px;
$l-mobile: 425px;
$mobile: 720px;
$tablet: 768px;
$tabletLandscape: 1024px;
$laptop: 1280px;
$desktop: 1440px;


// Font
$font-family: 'HKgrotesk', sans-serif;
$font-family-alt: '', serif;
$font-size: 16px; // Base font size

//
// Colors
// --------------------------

$color-black: #333333;
$color-white: #ffffff;
$color-grey: #a5a5a5;
$color-light: rgba(250, 250, 250, 0.8);
// $color-light: rgb(250, 249, 249);