// 
// Font
//

@font-face {
    font-family: 'HKgrotesk';
    src: url('src/fonts/hkgrotesk-light-webfont.eot');
    src: url('src/fonts/hkgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
         url('src/fonts/hkgrotesk-light-webfont.woff') format('woff'),
         url('src/fonts/hkgrotesk-light-webfont.ttf') format('truetype'),
         url('src/fonts/hkgrotesk-light-webfont.svg#hk_grotesklight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HKgrotesk';
    src: url('src/fonts/hkgrotesk-regular-webfont.eot');
    src: url('src/fonts/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('src/fonts/hkgrotesk-regular-webfont.woff') format('woff'),
         url('src/fonts/hkgrotesk-regular-webfont.ttf') format('truetype'),
         url('src/fonts/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'HKgrotesk';
    src: url('src/fonts/hkgrotesk-medium-webfont.eot');
    src: url('src/fonts/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('src/fonts/hkgrotesk-medium-webfont.woff') format('woff'),
         url('src/fonts/hkgrotesk-medium-webfont.ttf') format('truetype'),
         url('src/fonts/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'HKgrotesk';
    src: url('src/fonts/hkgrotesk-semibold-webfont.eot');
    src: url('src/fonts/hkgrotesk-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/fonts/hkgrotesk-semibold-webfont.woff2') format('woff2'),
         url('src/fonts/hkgrotesk-semibold-webfont.woff') format('woff'),
         url('src/fonts/hkgrotesk-semibold-webfont.ttf') format('truetype'),
         url('src/fonts/hkgrotesk-semibold-webfont.svg#hk_grotesksemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HKgrotesk';
    src: url('src/fonts/hkgrotesk-bold-webfont.eot');
    src: url('src/fonts/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('src/fonts/hkgrotesk-bold-webfont.woff') format('woff'),
         url('src/fonts/hkgrotesk-bold-webfont.ttf') format('truetype'),
         url('src/fonts/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

h1 {
    margin: 0.25em 0;
    font-size: 2em;
    line-height: 1.4;
}

h2 {
    margin: 0.25em 0;
    font-size: 1.8em;
    line-height: 1.4;
}

h3 {
    margin: 0.25em 0;
    font-size: 1.5em;
    line-height: 1.4;
}

p {
    margin: 0.25em 0;
    font-size: 1em;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $color-black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    a:hover,  
    a:focus,
    a:active {
        color: $color-black;
        font-weight: 500;
        text-decoration: none;
    }
}


