// 
// WIP
//

section.workinprogress {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	padding: 25vh 0;
	font-family: 'HKgrotesk', sans-serif;
	text-align: center;
}

.page-id-13 {

	.header{
		display: none;
	}

}